:root {
  --font-display:
    Spline Sans, Inter, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-rounded: 'SF Pro Rounded', 'Hiragino Maru Gothic ProN', Meiryo, 'MS PGothic', sans-serif;
  --font-serif: Georgia, 'Times New Roman', serif;

  --color-label: #000000;
  --color-secondary-label: #60646C;
  --color-tertiary-label: #9094A0;
  --color-background: #ffffff;
  --color-background-element: #F0F0F3;
  --color-background-selected: #E0E1E6;
  --color-separator: rgba(60, 60, 67, 0.29);
  --color-tint: #208AEF;
  --color-pill-background: rgba(118, 118, 128, 0.12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-label: #ffffff;
    --color-secondary-label: #B0B4BA;
    --color-tertiary-label: #6E7378;
    --color-background: #000000;
    --color-background-element: #212225;
    --color-background-selected: #2E3135;
    --color-separator: rgba(84, 84, 88, 0.6);
    --color-tint: #0A84FF;
    --color-pill-background: rgba(118, 118, 128, 0.24);
  }
}

body {
  background-color: var(--color-background);
}
